/* Main container */
main {
  background-color: antiquewhite;
  align-items: center;
  text-align: center;
  padding: 40px;
}

/* Input fields  */
.Shutup, .take-my {
  height: 30px;
  width: 200px;
  justify-content: space-between;
  background-color: rgb(191, 214, 234);
  border-radius: 40%;
  padding: 2%;
  font-family: fantasy;
  color: purple;
  
}

/* Buttons */
.add-meme, .edit-meme, .get-new {
  padding: 10px 20px;
  background-color: plum;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bolder;
  font-family: fantasy;
} 

.get-new{
  top: 230px;
  position: absolute;
  left: 412px;
}



/* Meme list */
 .meme-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.meme-item {
  display: flex;
  flex-direction: column, left;
  align-items: center;
  position: relative;
  margin: 20px; 
  bottom: 100px;
}

.meme-item img {
  max-width: 50%;
max-height: 60%;}

  .meme-item button {
    padding: 5px 10px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }

.troll {
  position: absolute;
  margin-top: 40px;
  width: 70px;
  margin-left: 300px;
}

.header {
  font-feature-settings: "subs";
  display: flex;
  background-color: rgb(159, 28, 159);
  width: 2000px;
  height: 100px;
  border: 3px solid rgb(147, 135, 135);
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  margin-bottom: 60px;
}

.header--title {
  display: flex;
  margin-left: 20%;
  font-size: 50px;
} 




.textlist-top {
  position: absolute;
top: 110px;
left: 90px;
  color: white; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  font-size: 1em;
  background-color: rgb(141, 181, 181);
}
.textlist-bottom {
  
  position: absolute;
  bottom: 110px;
  left: 90px;
  transform: translateX(-50%);
  font-size: 1em; 
  color: white; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  background-color: rgb(141, 181, 181);
}
.text-top {
  position: absolute;
  top: 380px; 
  left: 50%;
  transform: translateX(-50%);
  font-size: 2em; 
  color: white; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
font-weight: bolder;
background-color: rgb(93, 145, 184);
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-style: oblique;
}

.text-bottom {
  position: absolute;
  top: 800px; 
  left: 50%;
  transform: translateX(-50%);
  font-size: 2em; 
  color: white; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  background-color: rgb(93, 145, 184);
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-style: oblique;
  font-weight: bolder;
}



.meme-generated{
  min-width: 500px;
  min-height: 500px;
 max-width: 500px;
 max-height: 500px;
 margin-top: 100px;
 
}



/* @media only screen and  (device-width: 768px) {
  .text-bottom, .image-class {
    font-size: 2em; 
    top: 400px;
    right: 900px;
    background-color: rgb(48, 232, 177);

  }
}

@media (max-width: 576px) {
  .textlist-bottom, .image-class {
    font-size: 1em; 
    top: 20px;
  } */
/* } */






